* {
    box-sizing: border-box;
}
body{
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 50px 1fr 30px;
    grid-gap: 5px;
    background-color: rgb(42, 117, 187);
    font-family:sans-serif;
    color: #ffcb05;
    
}

nav{
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Pokemon Solid', sans-serif;
    text-shadow: 1px 1px 2px #c7a008;
    font-size: 40px;
  }

  main {
      margin-top: 100px;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      font-size: medium;
}

#pokemon-image {
    padding: 10px;
    border: solid;
    border-color: #c7a008;
}








